[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Élysée
Comment=Le Palais présidentiel de la Start-up Nation
Exec=elysee
Icon=elysee
Categories=Network;WebBrowser;
