[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Impôts Gouv
Comment=Civisme fiscal et prélèvement à la source bienveillant
Exec=impots-gouv
Icon=impots-gouv
Categories=Network;WebBrowser;
