[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Cybermalveillance
Comment=Le guide de survie face aux fuites de données
Exec=cybermalveillance
Icon=cybermalveillance
Categories=Network;WebBrowser;
